.header_type_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
.header_type_01 .title {
  color: #333;
  font-size: 12px;
}
.header_type_01 .more {
  color: #666;
}

.header_type_01 .more:hover {
  text-decoration: underline;
}